<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../static/ippoFavicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/charSelect/styles.css">
        <title>CS50 FP: Character Select</title>
    </head>
    <body>
        <div class="container">
            <div class="card" id="lee">
                <div class="card-image">
                    <img src="../static/charSelect/Lee.png" alt="Lee">
                </div>

                <div class="card-body">
                    <span class="power">Fighter power</span>
                    <h2>LEE CHAO LUN</h2>
                    <p>Wild villager who will cut down anyone in his way with his trusty cleaver.</p>
                </div>

                <div class="card-footer">
                    <div class="info">
                        <div class="value">4</div>
                        <div class="type">used</div>
                    </div>

                    <div class="info">
                        <div class="value">2</div>
                        <div class="type">comments</div>
                    </div>

                    <div class="info">
                        <div class="value">4.5</div>
                        <div class="type">rating</div>
                    </div>
                </div>

                <div class="selector">
                    <button id="leeChosen">Choose Lee!</button>
                </div>
            </div>

            <div class="card" id="uzui">
                <div class="card-image">
                    <img src="../static/charSelect/Uzui.png" alt="Uzui">
                </div>

                <div class="card-body">
                    <span class="power">Assassin power</span>
                    <h2>UZUI TENGEN</h2>
                    <p>After 200 years in the mountains, he is an expert swordsman who has gained immortality.</p>
                </div>

                <div class="card-footer">
                    <div class="info">
                        <div class="value">5</div>
                        <div class="type">used</div>
                    </div>

                    <div class="info">
                        <div class="value">1</div>
                        <div class="type">comments</div>
                    </div>

                    <div class="info">
                        <div class="value">4.6</div>
                        <div class="type">rating</div>
                    </div>
                </div>

                <div class="selector">
                    <button id="uzuiChosen">Choose Uzui!</button>
                </div>
            </div>

            <div class="card" id="raijin">
                <div class="card-image">
                    <img src="../static/charSelect/Raijin.png" alt="Raijin">
                </div>

                <div class="card-body">
                    <span class="power">Mage power</span>
                    <h2>RAIJIN</h2>
                    <p>Powerful former thunder god who was banished to the mortal world after a rebellion.</p>
                </div>

                <div class="card-footer">
                    <div class="info">
                        <div class="value">3</div>
                        <div class="type">used</div>
                    </div>

                    <div class="info">
                        <div class="value">0</div>
                        <div class="type">comments</div>
                    </div>

                    <div class="info">
                        <div class="value">4.1</div>
                        <div class="type">rating</div>
                    </div>
                </div>

                <div class="selector">
                    <button id="raijinChosen">Choose Raijin!</button>
                </div>
            </div>
        </div> 

        <script type="module" src="../menuModules/select.js"></script>
    </body>
</html>